# === Python ===
__pycache__/
*.py[cod]
*$py.class

# === Enviromnt varible===
venv/
.venv/
env
.env
*.ini
*.cfg

# === database ===
db.sqlite3
*.sqlite3
# === IDEs ===
.vscode/
.idea/

# === logs ===
*.log

# === compiler cache ===
*.egg-info/
dist/
build/

# === Django ===
staticfiles/
media/

# === Redis ===
dump.rdb
*.rdb
appendonly.aof
redis-data/

# === Celery ===
celerybeat-schedule
celerybeat.pid

# === Testing & coverage ===
.coverage
htmlcov/
.pytest_cache/

# === OS ===
.DS_Store

